@font-face {
    font-family: 'Gumela';
    src: local('Gumela'), url('../font/Gumela-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GumelaRegular';
    src: local('GumelaRegular'), url('../font/Gumela-Regular.ttf') format('truetype');
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

:root{
    /* Colors */
    --white: #FFF;
    --black: #222;
    --emphasis: #F04;
    --black-mono: #191528cf;
    --white-mono: #38383970;

    /* Paddings */
    --paddingCard: 1.5rem;
    --paddingButton: 0.5rem;

    /* BorderRadius */
    --borderRadiusCard: 3.125rem;
    --borderRadiusButton: 0.625rem;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: #A6A6A6;
    border-radius: 1rem;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Gumela', 'GumelaRegular';
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    padding: 1rem;
    background: var(--emphasis);
    box-shadow: 1px 3px 10px var(--black-mono);
    z-index: 1;
}
main header .logo > img{
    content: "";
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}

main .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1rem;
    gap: 2rem;
}

main .post{
    display: flex;
    flex-direction: column;
    background: #EEE;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px var(--black-mono);
    width: min-content;
    height: min-content;
    padding: 1rem;
    gap: 0.5rem;
}
main .post > img{
    content: "";
    min-width: 500px;
    min-height: 500px;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 10px var(--black-mono);
}
main .post .legend{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 10px var(--black-mono);
    position: relative;   
}
main .post .legend > textarea{
    padding: 0.5rem;
    text-align: justify;
    resize: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.7em;
    line-height: 1.5; 
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
main .post .legend > textarea.expanded {
    -webkit-line-clamp: unset;
}
main .post .legend > button{
    cursor: pointer;
    position: absolute;
    bottom: -1.5rem;
    right: 0.1rem;
    background: transparent;
}

main .post .interactions{
    display: flex;
    gap: 0.5rem;
    position: relative;
}
main .post .interactions > button{
    cursor: pointer;
}

main nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 0.1rem;
    border-radius: 0.5rem;
    background: var(--emphasis);
    color: var(--white);
    bottom: 1rem;
    transition: all ease-out 250ms;
    cursor: pointer;
    box-shadow: 0 0 10px var(--black),inset 0px 0px 10px var(--black-mono);

}
main nav:hover{
    transform: scale(1.3);
}
main nav > .icon{
    font-size: 2rem;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 12rem;
    height: 100vh;
    position: relative;
    gap: 1rem;
    background: var(--emphasis);
    color: var(--white);
    z-index: 1;
}
aside .profile{
    display: flex;
    width: 90%;
    height: 2rem;
    padding-top: 1rem;
    justify-content: space-between;
}
aside .profile .user{
    content: "";
    width: 2rem;
    height: 2rem;
    background: #0005;
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .profile .user > img{
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
aside .profile .config .icon{
    font-size: 1rem;
    cursor: pointer;
    color: var(--white);
}

aside .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    margin: 1rem;
    gap: 0.5rem;
}
aside .container .search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
aside .container .search > input{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1.1rem 0.5rem 0.5rem;
    backdrop-filter: blur(15px);
    background: #FFF;
    box-shadow: var(--box-shadow);
    --webkit-backdrop-filter: blur(15px);
    box-shadow: inset 1px 1px 5px var(--black-mono), inset -1px -1px 5px var(--black-mono);
}
aside .container .search > span{
    position: absolute;
    right: 0.5rem;
    color: var(--emphasis);
    cursor: pointer;
    font-size: 1.3rem;
}
aside .container .friends{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    backdrop-filter: blur(15px);
    background: #00000059;
    box-shadow: var(--box-shadow);
    --webkit-backdrop-filter: blur(15px);
    box-shadow: inset 1px 1px 20px var(--black-mono);
}
aside .container .friends .friend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--black);
    background: #EEE;
    box-shadow: 0 0 10px var(--black),inset 0px 0px 10px var(--black-mono);

}
aside .container .friends .friend > img{
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    main .post > img{
        min-width: 450px;
        min-height: 450px;
    }
}
@media screen and (max-width: 689px) {
    main .post > img{
        min-width: 350px;
        min-height: 350px;
    }
@media screen and (max-width: 280px) {
    main .post > img{
        min-width: 270px;
        min-height: 270px;
    }
}