@font-face {
    font-family: 'Gumela';
    src: local('Gumela'), url('../font/Gumela-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GumelaRegular';
    src: local('GumelaRegular'), url('../font/Gumela-Regular.ttf') format('truetype');
}

:root{
    /* Colors */
    --white: #FFF;
    --black: #222;
    --emphasis: #7C162E;
    --black-mono: #191528cf;
    --white-mono: #38383970;

    /* Paddings */
    --paddingCard: 1.5rem;
    --paddingButton: 0.5rem;

    /* BorderRadius */
    --borderRadiusCard: 3.125rem;
    --borderRadiusButton: 0.625rem;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Gumela', 'GumelaRegular';
    font-weight: normal;
    font-size: 1.25rem;
}

body{
    background-image: url(../img/background-login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
}

header{
    margin: 2rem;
    display: flex;
    background: transparent;
    position: fixed;
}

.logo > img{
    align-items: left;
    content: "";
    width: 10rem;
    height: 5rem;
}

main{
    display: flex;
    height: 95vh;
    width: 100vw;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.left > h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
}
.cardLeft{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    padding: var(--paddingCard);
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background: var(--black-mono);
    border-radius: var(--borderRadiusCard);
}

.cardLeft > button{
    padding: var(--paddingButton);
    border-radius: var(--borderRadiusButton);
    background: var(--emphasis);
    font-weight: bold;
    font-size: 1.25rem;
    width: 10rem;
    height: 2.5rem;
}

.cardLeft > button > a{
    color: var(--white);
}

.right{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
}

.cardRight{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 16rem;
    padding: var(--paddingCard);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white-mono);
    border-radius: var(--borderRadiusCard);
}

.cardRight > h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.inputs{
    display: flex;
    gap: 0.5rem;
}

.inputs > span{
    font-size: 2rem;
}

.inputs > input{
    background: #FFFFFF08;
    border-bottom: 2px solid var(--white);
    width: 10.5rem;
    height: 2rem;
}

.btnLogin{
    padding: var(--paddingButton);
    border-radius: var(--borderRadiusButton);
    color: var(--emphasis);
    background: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    width: 12.8rem;
    height: 2.5rem;
}

.btnLogin:hover{
    color: var(--white);
    background: var(--emphasis);
}

.cardRight > span > a{
    color: var(--white);
    font-size: 0.8rem;
}

.cardRight > span > a:hover{
    color: var(--emphasis);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background: var(--black-mono);
}

footer > p{
    font-size: small;
    font-style: italic;
}