@font-face {
    font-family: 'Gumela';
    src: local('Gumela'), url('../font/Gumela-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GumelaRegular';
    src: local('GumelaRegular'), url('../font/Gumela-Regular.ttf') format('truetype');
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

:root{
    /* Colors */
    --white: #FFF;
    --black: #222;
    --emphasis: #F04;
    --black-mono: #191528cf;
    --white-mono: #38383970;

    /* Paddings */
    --paddingCard: 1.5rem;
    --paddingButton: 0.5rem;

    /* BorderRadius */
    --borderRadiusCard: 3.125rem;
    --borderRadiusButton: 0.625rem;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: #A6A6A6;
    border-radius: 1rem;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Gumela', 'GumelaRegular';
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main header{
    height: 8rem;
    width: 100%;
    padding: 1rem;
    background: var(--emphasis);
    box-shadow: 1px 3px 10px var(--black-mono);
    z-index: 1;
}
main header .logo > img{
    position: fixed;
    top: -2rem;
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}

main header .config {
    position: fixed;
    right: 0rem;
    margin: 0.5rem 1rem;

}
main header .config .icon{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
}

main header .profile {
    position: fixed;
    top: 4rem;
    left: 25vw;
    width: 50%;
    height: 8rem;
    background: var(--white);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 2rem;
    box-shadow: 1px 3px 10px var(--black-mono);
}
main header .profile .user{
    content: "";
    width: 5rem;
    height: 5rem;
    background: #0005;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
main header .profile .user > img{
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

main .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 1rem;
    gap: 2rem;
}

main .post{
    display: flex;
    flex-direction: column;
    background: #EEE;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px var(--black-mono);
    width: min-content;
    height: min-content;
    padding: 1rem;
    gap: 0.5rem;
}
main .post > img{
    content: "";
    min-width: 400px;
    min-height: 400px;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 10px var(--black-mono);
}